@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 16 16 16;
    --foreground: 220 220 220;
    --card: 32 32 32;
    --card-foreground: 240 240 240;
    --accent: 224 191 184;
  }

  /* LIGHT THEME */
  .light {
    --background: 255 255 255;
    --foreground: 20 20 20;
    --card: 245 245 245;
    --card-foreground: 20 20 20;
  }

  html {
    @apply bg-background;
  }

  body {
    @apply w-full bg-gradient-to-br from-card to-background text-foreground font-montserrat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playFair;
  }
}

@layer components {
  .action-btn {
    @apply w-full py-3 rounded-xl font-medium text-center transition;
  }
}
